node_modules
dist
tmp
build
venv
.DS_Store
server.spec
routes/__pycache__
models/interrogator/deepbooru/*
models/interrogator/wdtagger/*
models/interrogator/blip/*
vendor/__pycache__
vendor/ldm/__pycache__
models/clip
models/diffusion/*
models/hypernetworks/*
models/lora/*
models/textual inversion/*
models/animatediff/*
models/controlnet/annotator/*
models/controlnet/canny/*
models/controlnet/depth/*
models/controlnet/lineart/*
models/controlnet/lineart anime/*
models/controlnet/scribble/*
models/controlnet/softedge/*
models/segmentator/*
models/promptgen/*
models/detector/*
models/upscaler/*
models/ipadapter/models/*
models/ipadapter/sdxl_models/*
models/vae/*
models/misc/*
outputs/local
outputs/models
outputs/novel ai
outputs/holara ai
dialog/random.pt

!models/diffusion/readme.txt
!models/lora/readme.txt
!models/hypernetworks/readme.txt
!models/textual inversion/readme.txt
!models/vae/readme.txt
!models/segmentator/readme.txt
!models/animatediff/readme.txt
!models/controlnet/annotator/readme.txt
!models/controlnet/canny/readme.txt
!models/controlnet/depth/readme.txt
!models/controlnet/lineart/readme.txt
!models/controlnet/lineart anime/readme.txt
!models/controlnet/scribble/readme.txt
!models/controlnet/softedge/readme.txt
!models/interrogator/blip/readme.txt
!models/interrogator/deepbooru/readme.txt
!models/interrogator/wdtagger/readme.txt
!models/detector/readme.txt
!models/promptgen/readme.txt
!models/upscaler/readme.txt
!models/misc/readme.txt
!models/ipadapter/models/readme.txt
!models/ipadapter/sdxl_models/readme.txt
!outputs/readme.txt