accelerate==0.24.1
animeface==2.0.2
bitsandbytes==0.42.0
compel==2.0.2
controlnet_aux==0.0.7
datasets==2.17.1
diffusers @ git+https://github.com/kashif/diffusers.git@a3dc21385b7386beb3dab3a9845962ede6765887
evaluate==0.4.1
Flask==2.3.2
Flask_SocketIO==5.3.4
numpy==1.26.4
opencv_contrib_python==4.9.0.80
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
pandas==1.3.5
peft==0.6.2
piexif==1.1.3
Pillow==10.2.0
prodigyopt==1.0
psd_tools==1.9.31
pysaucenao==1.6.2
pytorch_lightning==2.2.0.post0
pytoshop==1.2.1
PyWavelets==1.4.1
Requests==2.31.0
safetensors==0.4.2
scikit_learn==1.4.1.post1
segment_anything==1.0
Send2Trash==1.8.0
setuptools==69.1.1
skimage==0.0
tensorflow==2.15.0
tensorflow_macos==2.15.0
torch==2.3.0.dev20240309
torchvision==0.18.0.dev20240309
tqdm==4.66.2